.imageContainer{
    margin-right: 300px;
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
}

.imageContainer img{
    width: 100%;
    height: auto;

}

.img{
    font-size: 14px;
}
.h1{
    font-size: 35px;
}


